{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": 0,
    "no-await-in-loop": 0,
    "global-require": 0,
    "no-restricted-syntax": 0,
    "import/no-dynamic-require": 0,
    "no-empty": ["error", { "allowEmptyCatch": true }]
  }
}